<!DOCTYPE html>
<html lang="en">
<head>
  <title>Narinder's web application</title>
</head>
<body>
  <img src"https://da5ca95a-26e3-4f47-892c-73038d2ae28b-00-3h7xl2sflddp8.sisko.replit.dev/static/new.png"  >
  <h1>Hello, this is my first web application </h1>
  <h1>Introduction</h1>
  <p>i am currently pursuing my Btech from nit jalandhar and going to open an </p>
  <h1>My hobbies</h1>
  <p>i love to play cricket and read religious historical books</p>
  
  <h1>contact us</h1>
  <p>you can contact me on my email id</p>
  <p>narinder.singh@gmail.com</p>
</body>
</html>