<!DOCTYPE html>
<html lang="en">
<head>
  <title>Narinder's web application</title>
</head>
<body>
  <img src="/static/new.png" alt="Welcome image">
  <h1>Hello, this is my first web application </h1>
  <h1>Introduction</h1>
  <p>i am currently pursuing my Btech from nit jalandhar and going to open an </p>
  <h1>My hobbies</h1>
  <p>i love to play cricket and read religious historical books</p>
  
  <h1>contact us</h1>
  <p>you can contact me on my email id</p>
  <p>narinder.singh@gmail.com</p>
</body>
</html>